!!!
%html{ lang: 'ja'}
  %head
    %meta{ charset: 'utf8'}
    %title
      tinitter
    %link{ href: '/css/bootstrap.min.css', rel: 'stylesheet', type: 'text/css'}
    %link{ href: '/css/site.css', rel: 'stylesheet', type: 'text/css'}
  %body
    %header.navbar.navbar-inverse.bs-docs-nav{ role: 'banner'}
      %div.container
        %div.navbar-header
          %a.navbar-brand{ href: '/'}
            Tinitter
    %main#content{ role: 'main'}
      %div.row
        %div.col-md-3
        %div.col-md-6
          =yield
        %div.col-md-3
    %footer.container
      %hr
      %p.text-center
        Powerd by Ruby,Sinatra
